.user-panel {
    height: 60px;
}

.user-panel>.info {
    position: relative;
    left: auto;
}

@media (min-width:768px) {
    .calcular {
        width: 40%;
        margin: 0 auto;
        margin-top: 10px;
    }
    .limpiar {
        width: 40%;
        margin: 0 auto;
        margin-top: 10px;
    }
}
/*Estilos de la grafica*/
#selector_grafica{
    max-width: 800px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}
.campo select{
    padding: 10px;
    border:none;
}
